* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
*:focus {
  outline: none;
}
:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-Color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
}
.main-btn {
  background-color: var(--red-Color);
  color: var(--yellow-color);
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  background-color: var(--red-Color);
  color: white;
}
.main-title::after {
  content: "";
  width: 15%;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* start nav */
nav {
  background-color: var(--dark-color);
}
nav .navbar-nav .nav-link {
  color: white;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link:focus,
nav .navbar-nav .nav-link:hover {
  color: var(--green-color);
}
nav .search {
  border-left: 1px solid var(--green-color);
}
nav .search svg {
  color: var(--green-color);
}
nav .navbar-toggler {
  color: white;
  border-color: white;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
/* start landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  columns: var(--yellow-color);
}
/* our work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-Color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-Color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #33d1cc9f;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover:before {
  transform: translateX(0);
}
/* stuff */
.stuff .description {
  min-width: 500px;
}
/* team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background-color: var(--green-color);
}
/* project  */
.project {
  background-color: var(--dark-color);
}